<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118971257834-eipisua8imrsnlbijktmopghvohb7f5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118971257834-eipisua8imrsnlbijktmopghvohb7f5c</string>
	<key>API_KEY</key>
	<string>AIzaSyAo9jmO5Py9mfah3nRT_j-5dPAHftjDBCo</string>
	<key>GCM_SENDER_ID</key>
	<string>118971257834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xuechunh.SnapChatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-4b7bc</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-4b7bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118971257834:ios:6571ed1ab1ababf5f0d893</string>
</dict>
</plist>